$base_color_g: #2ecc71;
$base_color_r: #d63232;
$base_color_gr: #f5f5f5;

.header {
  background: {
    color: $base_color_g;
  }
}

#header {
  flex-grow: 0;
  align-items: flex-start;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pos-rel {
  position: relative;
}

.logo {
  @include imgBg('logo.png', 100%);
  width: 125px;
  height: 50px;
  background: {
    position: center;
  }
}

.logo--indent {
  margin: {
    left: $indent + 10;
  }
}

.middle-v {
  align-items: center;
}

[space~="a"] {
  justify-content: space-around;
}

[space~="b"] {
  justify-content: space-between;
}

.icon__bell {
  @include imgBg('bell--green.png', contain);
}

.icon__circle-menu {
  @include imgBg('circle--green.png', contain);
}

[no-margin] {
  margin: 0!important;
}

.header__list {
  margin: {
    right: $indent + 10;
  }
}

.user-list {
  //min-height: 60vh;
  margin: {
    bottom: 20px;
  }
  align-items: flex-start;
}


.user-list__reg {
  min-height: 700px;
}

.user-list__header {
  background: {
    color: #f5f5f5;
  }
  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: #bfbfbf;
    }
    left: {
      width: 1px;
      style: solid;
      color: #bfbfbf;
    }
    right: {
      width: 1px;
      style: solid;
      color: #bfbfbf;
    }
  }
  //padding: $indent - 25;
}

.icon__top {
  @include imgBg('person.png', contain);
  width: 48px;
  height: 36px;
}

.user-list__header__text {
  color: #2ecc71;
  font: {
    size: rem-calc(32px);
  }
}

.user-list__header__action-icon {
  margin: {
    right: 5px;
  }
}

.burger {
  position: relative;
  width: 48px;
  span, span::before, span::after {
    /* hamburger icon in CSS */
    
    position: absolute;
    display: block;
    height: 3px;
    width: 24px;
    background: #d1d1d1;
  }
  span {
    /* line in the center */
    
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -2px;
  }
  span::before,
  span::after {
    /* other 2 lines */
    
    content: '';
    right: 0;
  }
  span::before {
    /* menu icon top line */
    
    top: -6px;
  }
  span::after {
    /* menu icon bottom line */
    
    top: 6px;
  }
}

.icon__arrow-upn {
  @include imgBg('arrow-und.png', contain);
}

.user-list__content {
  margin: {
    top: $indent;
  }
  z-index: 1;
}

.user-list__item__photo {
      background: {
        size: 100%;
        repeat: no-repeat;
        position: center;
      }
  width: 185px;
  height: 185px;
  flex: 0 0 185px;
}

.user-list__item-first {
  border: 5px solid #ffcc00;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background: {
      color: rgba(#ffcc00, 0.4);
    }
    position: absolute;
    bottom: 0;
  }
  & .user-list__item__place {
    background: {
      color: #ffcc00;
    }
    color: darken(#ffcc00, 30%);
  }
}

.user-list__item-second {
  border: 5px solid #f7f5ed;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background: {
      color: rgba(#f7f5ed, 0.4);
    }
    position: absolute;
    bottom: 0;
  }
  & .user-list__item__place {
    background: {
      color: #f7f5ed;
    }
    color: darken(#f7f5ed, 30%);
  }
}

.user-list__item-third {
  border: 5px solid #dd9d5e;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background: {
      color: rgba(#dd9d5e, 0.4);
    }
    position: absolute;
    bottom: 0;
  }
  & .user-list__item__place {
    background: {
      color: #dd9d5e;
    }
    color: darken(#dd9d5e, 30%);
  }
}

.user-list__item__content {
  margin: {
    left: $indent/2;
  }
  width: 100%;
}

.user-list__item__nick {
  @include type(36px, #444);
}

.user-list__item__id {
  @include type(12px, #428bca);
}

.user-list__item__info {
  @include type(13px, #444);
}

.user-list__item__status {
  background: {
    color: #f5f5f5;
  }
  border: 1px solid #bfbfbf;
  margin: {
    top: $indent/1.5;
  }
}

.user-list__item__place {
  width: 30%;
  height: 40px;
  font: {
    weight: 500;
    size: 25px;
  }
  position: absolute;
  bottom: 0;
}

.user-list__item__btn-status {
  border: {
    bottom: {
      width: 3px;
      style: solid;
      color: darken(#428bca, 15%);
    }
  }
  text-transform: uppercase;
}

.user-list__item__count {
  @include type(30px, #2ecc71);
  font: {
    weight: bold;
  }
  margin: 0 10px;
}

.user-list__item__progress-bar {
  width: 100%;
  height: 25px;
  top: 10px;
  background: {
    color: #2ecc71;
  }
  border: {
    bottom: {
      width: 3px;
      style: solid;
      color: darken(#2ecc71, 15%);
    }
  }
  position: absolute;
}

.user-list__item__progress-bar--under {
  @extend .user-list__item__progress-bar;
   background: {
    color: #444;
  }
  border: {
    bottom: {
      width: 3px;
      style: solid;
      color: darken(#444, 15%);
    }
  }
}

.user-list__item__count-minus {
  color: #6b6b6b;
}

.user-list__item__count--indent {
  margin: 0;
  margin: {
    right: 10px;
  }
}

.logo--green {
  width: 175px;
  @include imgBg('logo--green.png', 100%);
}

.nav__search {
  padding: 0;
  background: {
    color: #2ecc71;
  }
  border: {
    bottom: {
      left: {
        radius: 7px;
      }
      right: {
        radius: 7px;
      }
    }
  }
}

[text-color~="w"] {
  color: #fff;
}

.icon__search {
  @include imgBg('loop.png', contain)
}

.icon__feed {
  @include imgBg('feed-comment.png', contain)
}

.icon__feed-top {
  @include imgBg('feed.png', contain)
}

.icon__person-w {
  @include imgBg('person--white.png', contain)
}

.indent-top--xx {
  margin: {
    top: 200px;
  }
}

.title--reg {
  text-align: center;
  @include type(40px, #2ecc71);
}

.input__search {
  @include type(16px, #444);
  input[type="text"] {
    margin: 0;
  }
  .input__search__bg {
    width: 44px;
    height: 44px;
    background: {
      color: #2ecc71;
    }
    cursor: pointer;
    padding: 10px;
    .input__search__icon {
      width: 24px;
      height: 24px;
      background: {
        position: center;
      }
      cursor: pointer;
      @include imgBg('search.png',
      100%);
    }
  }
}

.btn__search {
  margin: 20px auto;
  background: {
    color: #2ecc71;
  }
  color: #fff;
  border: {
    color: #2ecc71;
    bottom: {
      width: 3px;
      style: solid;
      color: darken(#2ecc71, 15%);
    }
  }
  &:hover {
    background: {
      color: darken(#2ecc71, 15%);
    }
  }
}

.icon__vk {
  @include imgBg('vk.png');
}

.icon__tw {
  @include imgBg('twitter.png');
}

.nav__social {
  width: 12%;
}

.random-person, .random_person__search {
  align-self: flex-end;
}

.random-person__title {
  @include imgBg('person--title.png', 100%);
  background: {
    position: center;
    repeat-x: repeat;
  }
  height: 35px;
}

.random-person__photo__inner-content {
  display: none;
  margin: {
    left: 5px;
  }
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 90%;
  .random-person__photo:hover & {
    display: block;
  }
}

.random-person__photo {
      background: {
        size: 100%;
        repeat: no-repeat;
      }
  width: 144px;
  height: 144px;
  overflow: hidden;
  //transition: box-shadow 0.5s;
  flex: 0 0 144px;
  position: relative;
  &:after {
    content: '';
    display: block;
    height: auto;
    position: absolute;
    bottom: 0px;
    top: 0;
    left: -20%;
    width: 140%;
    transition: all 0.5s;
    z-index: 1;
  }
  &:hover::after {
    box-shadow: inset 0px -86px 110px -9px rgba(255, 255, 255, 0.75);
  }
}

.random-person__container {
  overflow: hidden;
}

.random-person__bar__wrap {
    box-shadow: 0px 2px 9px 1px rgba(0,0,0,0.4);
    position: relative;
    height: 10px;
    width: 100%;
}



.random-person__bar {
  //box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, .4);
   height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: z('base') + 1;
  background: {
    color: #2ecc71;
  }
}

.random-person__bar--under {
  @extend .random-person__bar;
  width: 100%;
  z-index: z('base');
  background: {
    color: #444;
  }
}

.border-none {
  border: none!important;
}

.user-list__item__id__wrapper {
  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: #ccc;
    }
  }
}

.user-list__item__btn-delte {
  background: {
    color: #d63232;
  }
  border: none;
  border: {
    bottom: {
      width: 3px;
      style: solid;
      color: darken(#d63232, 15%);
    }
  }
  &:hover {
    background: {
      color: darken(#d63232, 15%);
    }
  }
      height: 47px;
    margin: 4px 0 0 0;
    font-size: 0.9rem;
    //width: 100%;
}

.indent-top {
  margin: {
    top: 30px;
  }
}

.publish__header {
  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: #ccc;
    }
  }
  
  & h2 {
    font: {
      size: 32px;
    }
  }
}

.icon__about {
  @include imgBg('list.png');
}

.user-person__about__text {
  position: relative;
  &:after {
    content: '';
    @include triangle(12px, down, #ccc);
    margin: {
      left: 7px;
      top: 2px;
    }
  }
}

.btn--grey {
  @include btn-mod(#f5f5f5);
  color: darken(#f5f5f5, 40%);
 
  border: {
    radius: initial;
    bottom: {
      width: 3px; 
      style: solid;
      color: darken(#f5f5f5, 40%);
    }
    right: {
      width: 1px; 
      style: solid;
      color: darken(#f5f5f5, 20%);
    }
  }
  font: {
    size: 0.8rem;
  }
  line-height: 32px;
}

.btn__person--indent {
  margin: {
    top: 5px;
  }
}

.quest {
  text-align: center;
  width: 35px;
  border: {
    left: {
      width: 1px;
      style: solid;
      color: darken(#f5f5f5, 20%);
    }
    right: none;
  }
  padding: 6px;
  @extend .btn--grey;
  margin: 0;
}

.btn__add {
  @extend .btn__search;
  margin: 10px 0 0 0;
  font: {
    size: 0.9rem;
  }
  width: 100%;
}

.person__icon {
  @include imgBg('user.jpg', 100%);
}

.place__icon {
  //@include imgBg('first-medal.png', 100%);
  width: 38px;
  height: 38px;
}
.place__icon--first {
  @include imgBg('first-medal.png', 100%);
}
.place__icon--second {
  @include imgBg('second-medal.png', 100%);
}
.place__icon--third {
  @include imgBg('third-medal.png', 100%);
}

.arld__icon  {
  @include imgBg('arld.png');
}

.status_count {
  width: 65px;
  height: 100%;
  background: {
    color: $base_color_g;
  }
  color: #fff;
  font: {
    size: 24px;
    weight: 600;
  }
  text-align: center;
}

.about__item__content {
  border: {
    width: 1px;
    style: solid;
    color: #ccc;
  }
  margin: {
    top: 5px;
    //left: 15px;
    //right: 15px;
  }
}

.about__item__content__header {
  border: {
    bottom: {
      width: 1px;
      style: solid;
      color: #ccc; 
    }
  }
  //margin: 0;
  background: {
    color: #f5f5f5;
  }
}

.about__title {
  margin: 0;
  margin: {
    left: $indent/2;
  }
}

.about__date {
  margin: 0;
  margin: {
    right: $indent/2;
  }
}

.about__item__text {
  padding: 15px;
}

.pencil__wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  left: 0;
}

.icon__pencil {
  @include imgBg('pencil.png');
  width: 20px;
  height: 20px;
}

.about__item__btn_comment {
  background: {
    color: $base_color_g;
  }
  border: 1px solid $base_color_g;
  color: #fff;
  &:hover {
    background: {
    color: $base_color_g;
  }
  color: #fff;
  }
  &:after {
    content: '';
    @include triangle(12px, down, #fff);
    position: relative;
    top: 19px;
    left: 5px;
  }
}

.about__item__btn_group {
  padding: 10px;
  background: {
    color: #f5f5f5;
  }
  border: {
    top: {
      width: 1px;
      style: solid;
      color: #ccc; 
    }
    bottom: {
      width: 1px;
      style: solid;
      color: #ccc; 
    }
  }
}

.about__item__btn_access__wrapper {
  //width: 40%;
  height: 61px;
  margin: {
    top: -10px;
    bottom: -10px;
  }
  border: {
    left: {
      width: 1px;
      style: solid;
      color: #ccc; 
    }
  }
  h2 {
    @include breakpoint(md) {
      font: {
        size: 0.7rem;
      }
    }
    @include breakpoint(lg) {
      font: {
        size: 0.9rem;
      }
    }
  }
}

.about__item__btn_comment__wrapper {
  justify-content: center;
      width: 60%;
}

.about__btn_access__no {
  @include btn-mod(#d63232);
  color: #fff;
  text: {
    transform: uppercase;
  }
  border:{
    radius: 0;
  } 
}

.about__btn_access__ok {
  @extend .about__btn_access__no;
  @include btn-mod($base_color_g);
  border:{
    radius: 0;
  } 
}

.about__btn_access__ok__title {
  width: 45px;
  height: 38px;
  text: {
    align: center;
  }
  background: {
    color: darken($base_color_gr,10%)
  }
  padding: {
    top: 8px;
  }
}

.about__btn_access__no__title {
  @extend .about__btn_access__ok__title;
}

.about__input {
  border: none;
}

.about__input__btn {
  @include btn-mod($base_color_g);
   color: #fff;
  border:{
    radius: 0;
  } 
  margin: 0;
  margin: {
    right: 5px;
  }
}

.person__set_list__item {
  /*margin: {
    top: 8.5px;
  }*/
  h2 {
    margin: 0;
    margin: {
      top: 2px;
    }
    font: {
      size: 0.8rem;
    }
  }
}


.person__set_list__count {
  color: darken($base_color_gr,65%);
  padding: 3px;
  padding: {
    right: 5px;
  }
  background: {
    color: darken($base_color_gr,5%);
  }
  text-align: right;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: -13px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #e8e8e8;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.user-list__item__photo--person {
  width: 285px;
  height: 285px;
  background-position-y: 14px;
}

.user-list__item__content--person {
  //width: 72%;
  width: 100%;
}

.person__gallery {
  flex: 1;
}

.person__gallery__item {
  @extend .user-list__item__photo;
  width: 66px;
  height: 66px;
  flex: 0 0 66px;
  margin: {
    left: 2px;
  }
  &:first-child {
    margin: 0;
  }
}

.person__gallery__wrapper {
  overflow: hidden;
}

.person__gallery__text {
  color: darken($base_color_gr,35%);
}

.person__gallery__link {
  color: darken($base_color_gr,35%);
  border: {
    color: darken($base_color_gr,35%);
  }
}

.person__bar {
  //padding: 10px;
  border: {
    width: 1px;
    style: solid;
    color: #ccc;
  }
}

.icon__dislike {
  @include imgBg('dislike.png');
}

.icon__like {
   @include imgBg('like.png');
}

.person__progress__count__img {
    @include imgBg('scroll.png', cover);
    position: absolute;
    width: 37px;
    height: 42px;
    top: -7px;
  h2 {
    font: {
      size: 1.1rem;
      weight: 500;
    }
    line-height: 1;
    padding: {
      top: 6px;
    }
    color: darkred;
    text-align: center;
    margin: 0 auto;
    width: 42%;
  }
}
.person__progress__count {
  background: {
    color: $base_color_r;
  }
      width: 1%;
    height: 29px;
    position: absolute;
    left: 1px;
  /*&:before {
    content: '';
    display: block;
    @include imgBg('scroll.png');
    position: absolute;
    width: 40%;
    height: 20px;
  }*/
}

.person__bar__title {
  @include breakpoint(md) {
    font-size: 0.7rem;
  }
}

.person__progress {
  box-shadow: inset 1px 1px 1px 1px rgba(#000, 0.4);
  border: {
    radius: 3px;
  }
  position: relative;
  height: 30px;
  //width: 440px;
  //flex-shrink: 0;
}

.btn__access{
  @include imgBg('vkMsg.png', 80%);
  width: 95px;

    height: 30px;
  &:hover {
    @include imgBg('access-arrow.png', 20%);
    background: {
      position: center;
    }
  }
}

.btn__access_active{
  @include imgBg('access-arrow.png', 20%);
  width: 95px;

    height: 30px;
  &:hover {
    @include imgBg('access-arrow.png', 20%);
    background: {
      position: center;
    }
  }
}

.btn__back {
  font: {
    size: 0.7rem;
  }
}



.list-enter {
  left: -101px;
  width: 200px;
  top: 36px;
  background: {
    color: #fff;
  }
  z-index: 1500;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  & .list-dropdown__item {
    font: {
      size: 0.9rem;
    }
    &:hover {
      background: {
        color: #fff;
      }
      color: #101015;
      border: {
        left: {
          width: 3px;
          style: solid;
          color: $base_color_g;
        }
      }
    }
  }
 /* & .list-dropdown__item {
    position: relative;
    z-index: 1;
  }
  &:after {
    content: '';
    display: block;
    @include triangle(30px, up, #ccc);
    position: absolute;
    top: -14px;
    right: 0px;
    z-index: 0;
  }*/
}

.header__text {
  font: {
    size: 0.9rem;
    weight: 500;
  }
  color: $base_color_g;
}

.flex-visible {
  display: flex!important;
}

.list_icon__comment {
  //list-style-image: url($list-image);
  @extend .list-icon;
  &:before {
    @include imgBg('comment-a.png');
  }
}

.list_icon__freand {
  @extend .list-icon;
  &:before {
    @include imgBg('freinds.png');
  }
}

.list_icon__pod {
  @extend .list-icon;
  &:before {
    @include imgBg('pod.png');
  }
}

.list_icon__exit {
  @extend .list-icon;
  &:before {
    @include imgBg('exit.png');
  }
}

.arrow_left {
   @include imgBg('l-arrow.png');
  width: 50px;
  height: 50px;
}

.arrow_right {
   @include imgBg('r-arrow.png');
  width: 50px;
  height: 50px;
}

.arrow_wrapper {
  position: fixed;
  top: 50vh;
  z-index: 0;
}

.cursor {
  cursor: pointer;
}

.contact {
  position: fixed;
  z-index: 20;
  height: 100vh;
  top: 0;
}

.contact--bg {
  background: {
    color: #fff;
  }
}

.icon__cross {
  @include imgBg('cross_close.png');
}

.contact__header {
  justify-content: flex-end;
  height: 50px;
}

.contact__form {
  input, textarea {
    border: {
      radius: 5px;
    }
  }
}

.contact__btn {
  margin: 20px 0;
  @include btn-mod($base_color_g);
  color: #fff;
}

.cursor {
  cursor: pointer;
}

.feedback-user {
   height: 46px;
    background: {
      color: #fff;
  }
    overflow:hidden;
    border: none;
    padding: 10px;
    //padding-left: 10px;
    margin: 0;
    font-size: 1.1rem;
}

.err_page {
  opacity: 0;
  transition: opacity 0.2s;
  width: 181px;
  background: {
    color: #fff;
  }
  border: {
    width: 1px;
    style: solid;
    color: red;
    radius: 5px;
  }
  position: absolute;
  top: -65px;
    right: 9px;
    padding: 10px;
  h2 {
    color: red;
  }
}

.footer--bg {
  background: {
    color: #fff;
  }
  flex: 0 0 auto;
  margin: 30px 0 0 0;
}

.text--up {
  text: {
    transform: uppercase;
  }
}

.indent--x {
  margin: {
    top: 120px;
  }
}

.stats__popup__contnet {
  display: none;
  height: auto;
    width: 351px;
    top: -110px;
  padding: 10px;
  background: {
    color: #428bca;
  }
  h2 {
    color: #fff;
    font: {
      size: 13px;
    }
  }

  transform: translateX(-33%);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  &:after {
    content: '';
    display: block;
    bottom: -8px;
    left: 50%;
    position: absolute;
    @include triangle(10px,down,#428bca );
  }
}

.status__popup {
  &:hover > .stats__popup__contnet {
    display: block;
    opacity: 1;

  }
}

.nav__search__text {
  font: {
    weight: 500;
  }
}

.footer__link {
  font: {
    size: 0.8rem;
  }
}

.bar__popup__content {
  height: auto;
    width: 250px;
    top: -70px;
  padding: 10px;
  background: {
    color: #d63232;
  }
  z-index: 1000;
  h2 {
    color: #fff;
    font: {
      size: 1rem;
    }
  }

  transform: translateX(-35%);
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  &:after {
    content: '';
    display: block;
    bottom: -8px;
    left: 50%;
    position: absolute;
    @include triangle(10px,down,#d63232 );
  }
}

.bar__popup__content_invers {
  transform: rotate(180deg) translateX(-35%);
  top: 70px;
  h2 {
    transform: rotate(-180deg);
  }
}

.btn__person__wrapper {
  flex-direction: column;
  display: flex;
}

.align-str {
  align-items: stretch;
}

#abot_content {
  display: flex;
  flex: 1;
}

.reg_success {
  margin: 0 10px;
  height: 0;
  top: 0;
  right: 0;
  position: relative;
  width: 96%;
  border: {
    color: $base_color_g;
  }
  h2 {
    color: $base_color_g;
  }
  transition: all 0.3s;
}

@import 'style'
