<div class="arrow_wrapper nav-inline" row-full space="b">
  <div class="arrow_left cursor"></div>
  <div class="arrow_right pos-rel cursor">
    <div class="err_page">
      <h2>Страниц больше нет</h2>
    </div>
  </div>
</div>
<div small="9 centerd" class="user-list__content" style="margin-top: 0;">

</div>
