

  <div class="contact__form" small="7 centerd" style="text-align: center; margin-top: 20px;">
   <div><img src="../../../assets/img/big_logo.png" alt=""></div>
    <h1>Цель проекта</h1>
    <p>Раскрыть личность любого человека на основании свободного выражения своего мнения.</p>
    <h1>О проекте</h1>
    <p>Приветствуем! Вы находитесь на сайте проекта Репутация - это сайт Ваших анонимных отзывов о любом человеке. Здесь можно получить и дополнить информацию об интересующем Вас человеке, его окружении и друзьях, увидеть образ любого, полученный на основе анонимных отзывов других посетителей. Помогайте узнать человека со всех сторон!</p>
  </div>

