<div class="popup__wrapper">
  <div class="popup">
    <h2>Сообщение отправлено</h2>
  </div>
</div>
  <div class="contact__form" small="7 centerd">
    <h1 style="text-align: center;">Свяжитесь с нами</h1>
    <p style="text-align: center;">Вы обнаружили некорректную работу сайта или ошибку? Вам есть что нам предложить или есть идеи для проекта? Напишите нам, мы с радостью изучим Ваше сообщение.</p>
    <input type="text" class="name" placeholder="Ваше имя">
    <input type="text" class="e_mail" placeholder="Ваш e-mail">
    <input type="text" class="theme" placeholder="Тема письма">
    <textarea small="12" class="msg" placeholder="Введите сообщение"></textarea>
    <button class="btn contact__btn" small="12">Отправить</button>
  </div>

