
    <div class="logo logo--green" small="1"></div>
    <ul class="nav__search nav-inline middle-v" small="9" space="a" large="9" medium="9" style="margin-left: 50px;">
      <li class="nav__search__item nav-inline middle-v">
        <div class="icon icon__search" no-margin=""></div>
        <h2 class="nav__search__text search_link cursor" text-color="w">
          Поиск персон
        </h2>
      </li>
      <li class="nav__search__item nav-inline middle-v">
        <div class="icon icon__feed-top" no-margin=""></div>
        <h2 class="nav__search__text about_top_link cursor" text-color="w">
          Топ отзывов
        </h2>
      </li>
      <li class="nav__search__item nav-inline middle-v">
        <div class="icon icon__person-w" no-margin=""></div>
        <h2 class="nav__search__text person_top_link cursor" text-color="w">
          Топ персон
        </h2>
      </li>
      <li class="nav__search__item nav-inline middle-v">
        <div class="icon icon__feed" no-margin=""></div>
        <h2 class="nav__search__text about_last_link cursor" text-color="w">
          Последние отзывы
        </h2>
      </li>
    </ul>
    <div class=" nav-inline middle-v pos-rel nav__social" space="a" small="2" large="2" medium="3" >
      <a href="https://vk.com/" class="icon icon__vk" no-margin=""></a>
      <a href="https://twitter.com/" class="icon icon__tw" no-margin=""></a>
      <div class="wrapper nav-inline middle-v pos-rel row-full" space="a" small="8">
        <% if(auth) {%>
          <!--<div class="icon icon__bell" no-margin=""></div>-->
          <div class="icon icon__circle-menu" no-margin=""></div>
          <ul class="list-dropdown list-enter">
            <li class="list-dropdown__item list_icon__pod nav-inline middle-v cursor" >Мои подписчики</li>
            <!--<li class="list-dropdown__item">Lorem</li>-->
            <li class="list-dropdown__item nav-inline middle-v list_icon__exit cursor">Выход</li>
          </ul>
        <% } else {%>
          <h2 class="header__text reg cursor" style="margin: 0;">Регистрация</h2>
          <h2 class="header__text enter cursor" style="margin: 0;">Войти</h2>
        <% } %>
      </div>
    </div>
