<div class="cd-user-modal is-visible">
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="" class="enter">Войти</a></li>
				<li><a href="" class="reg">Регистрация</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<div class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signin-email" type="text" placeholder="E-mail">
						<span class="cd-error-message cd-error-message-in  cd-email-error-message">Заполните поле!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Пароль</label>
						<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Пароль">
						<!--<a href="#0" class="hide-password">Hide</a>-->
						<span class="cd-error-message cd-error-message-in cd-password-error-message">Заполните поле!</span>
					</p>

					<!--<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>-->

					<p class="fieldset">
            <input class="full-width login" type="submit" value="Войти">
					</p>
				</div>

				<p class="cd-form-bottom-message cd-forgot-password-link">
				  <span style="cursor: pointer;">Забыли пароль?</span>
				</p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup" class="pos-rel"> <!-- sign up form -->
			<div class="err_page reg_success">
      <h2>Регистрация выполнена, на Вашу почту выслано письмо с инструкциями подтверждения</h2>
    </div>
				<div class="cd-form">
					<!--<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>-->
					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border signup-email-sign" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message cd-error-message-up cd-email-error-message-up">Заполните поле!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Пароль</label>
						<input class="full-width has-padding has-border signup-password-sign" id="signup-password" type="password"  placeholder="Пароль">
						<!--<a href="#0" class="hide-password">Hide</a>-->
						<span class="cd-error-message cd-error-message-up cd-password-error-message-up">Заполните поле!</span>
					</p>

					<!--<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>-->

					<p class="fieldset">
						<!--<input class="full-width has-padding create_ac" type="submit" value="Create account">-->
						<input class="full-width has-padding create_ac" type="submit" value="Создать аккаунт">
					</p>
				</div>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Забыли свой пароль? Введите свой email для восстановления доступа к аккаунту.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message cd-pas-error-message">Заполните поля</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding reset_em" type="submit" value="Восстановить доступ">
					</p>
				</form>

				<p class="cd-form-bottom-message cd-back-to-login-link"><span style="cursor: pointer;">Ввернуться ко входу</span></p>
			</div> <!-- cd-reset-password -->
			<a href="" class="cd-close-form">Закрыть</a>
		</div> <!-- cd-user-modal-container -->
</div>
