<div class=" bar_user_text flex-visible" space="b" row-full style="display: none;">
         <!--<input type="text" placeholder="Написать отзыв" class="feedback-user" no-margin small="11" style="border: none;" large="11" medium="9">-->

         <div class="bar__popup pos-rel" large="11" medium="9">
              <div class="bar__popup__content bar__popup__content_invers">
                <h2 no-margin="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h2>
              </div>
              <textarea name="text"  small="12" placeholder="Написать отзыв" class="feedback-user"></textarea>
            </div>
            <button class="btn btn--no-radius is_bar_visible" no-margin="" style="height: 47px;">Далее</button>
          </div>
           <div class="nav-inline middle-v bar_user_count" style="display: none; padding: 10px;" space="a" small="12">
            <h2 class="person__bar__title" no-margin style="font-size: 0.9rem;">Как Вы оцениваете данного человека?</h2>
            <div class="icon icon__dislike"></div>
            <div class="bar__popup pos-rel">
              <div class="bar__popup__content bar__popup__content_invers">
                <h2 no-margin="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h2>
              </div>
              <div class="person__progress" small="12">
              <div class="person__progress__count cursor">

              </div>
              <div class="person__progress__count__img cursor"><h2 no-margim>1</h2></div>
            </div>
            </div>
            <div class="icon icon__like"></div>
            <div class="status__popup pos-rel">
              <div class="stats__popup__contnet">
                <h2 no-margin>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae libero deserunt asperiores, velit quas cupiditate! Magni quisquam inventore, rem ipsa!</h2>
              </div>
              <button class="btn btn__access icon btn--no-radius" no-margin></button>
            </div>

            <button class="btn btn__back btn--no-radius is_bar_hidden" no-margin>Назад</button>
            <button class="btn btn--no-radius btn__back about__input__btn">Готово</button>
</div>
