<div class="user-list__item__photo user-list__item__photo--person border-none" style="background-image: url('<%= avatarUrl  %>');" medium="3" large="2">
        </div>
        <div class="user-list__item__content user-list__item__content--person">
          <h2 class="user-list__item__nick" no-margin=""><%= firstName %> <%= lastName %></h2>
          <h2 no-margin="">Страна: <%= country %></h2>
          <h2 no-margin="">Город: <%= city %></h2>
          <h2 no-margin="">День рождения: <%= birthday %></h2>
          <div class="user-list__item__id__wrapper nav-inline middle-v" space="b">
           <% if(screenName === externalId) { %>
            <h2 class="user-list__item__id" no-margin=""><a href="https://vk.com/<%= screenName %>" class="unlink" target="_blank"><%= screenName %></a></h2>
            <% } else { %>
            <h2 class="user-list__item__id" no-margin=""><a href="https://vk.com/<%= screenName %>" class="unlink" target="_blank"><%= screenName %> / <%= externalId %></a></h2>
            <% } %>
            <!--<div class="user-person__about icon__wrapper">
              <div class="icon icon__about" ></div>
              <h2 class="user-person__about__text nav-inline middle-v" style="font-size: 1rem;">Анкета</h2>
            </div>-->
          </div>
          <div class="user-list__item__status nav-inline" space="b">
            <div class="status__popup pos-rel">
              <div class="stats__popup__contnet">
                <h2 no-margin>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae libero deserunt asperiores, velit quas cupiditate! Magni quisquam inventore, rem ipsa!</h2>
              </div>
              <button class="btn user-list__item__btn-status btn--no-radius" no-margin="" style="height: 47px;">Репутация</button>
            </div>
            <h2 class="user-list__item__count-minus user-list__item__count" no-margin="">0%</h2>
            <div class="user-list__item__progress-bar__wrapper pos-rel" small="6">
              <div class="user-list__item__progress-bar user-list__item__progress-bar--under"></div>
              <div class="user-list__item__progress-bar reputation__width" style="right: 0;"></div>
            </div>
            <h2 class="user-list__item__count user-list__item__count_plus user-list__item__count--indent">100%</h2>
          </div>
          <div class="user-person__info_wrapper nav-inline " style="margin-top: 10px;" small="12">
            <div class="btn__person__wrapper">
            <div class="btn__person__quest icon__wrapper">
              <a href="https://vk.com/albums<%= vkId %>" target="_blank" class="btn btn--grey btn--no-radius" no-margin style="display: block;">Все фото</a>
              <h2 class="quest">?</h2>
            </div>
            <% if (isSubscribed)  { %>
              <button class="btn user-list__item__btn-delte btn--no-radius" style="height: 47px;">Отписаться</button>
            <% } else {%>
              <button class="btn btn--no-radius btn__add btn__person--indent " style="width: 100%; height: 47px;"> Подписаться </button>
            <% } %>
          </div>
          <ul class="person__set_list" style="padding: 0;" small="3">
            <li class="person__set_list__item nav-inline middle-v list-icon" small="11">
              <div space="b" class="nav-inline" small="12">
                <h2 class="person__set_list__text">Отзывы</h2>
                <h2 class="person__set_list__count" small="4"><%= stats.feedbacks %></h2>
              </div>
            </li>
            <li class="person__set_list__item nav-inline middle-v list_icon__comment" small="11">
              <div space="b" class="nav-inline" small="12">
                <h2 class="person__set_list__text">Комментраии</h2>
                <h2 class="person__set_list__count" small="4"><%= stats.comments %></h2>
              </div>
            </li>
            <li class="person__set_list__item nav-inline middle-v list_icon__freand" small="11">
              <div space="b" class="nav-inline" small="12">
                <h2 class="person__set_list__text">Друзья</h2>
                <h2 class="person__set_list__count" small="4"><%= friendsCount %></h2>
              </div>
            </li>
            <li class="person__set_list__item nav-inline middle-v list_icon__pod" small="11">
              <div space="b" class="nav-inline" small="12">
                <h2 class="person__set_list__text">Подписчки</h2>
                <h2 class="person__set_list__count" small="4"><%= stats.subscriptions %></h2>
              </div>
            </li>
          </ul>
            <div class="person__gallery">
              <h2 class="person__gallery__text">Друзья пользователя: <span class="person__gallery__link link">Показать всех</span></h2>
              <div class="person__gallery__wrapper nav-inline middle-v" small="12">
                <% data.forEach(function(item) { %>
                   <a href="#person/<%= item.attributes.screenName %>" class="person__gallery__item cursor" style="background-image: url('<%= item.attributes.iconUrl %>'); display: block;" data-page="<%= item.attributes.screenName %>"></a>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
