

      <div class="user-list__item nav-inline middle-v" small="12">
        <div class="user-list__item__photo cursor" style="background-image: url('<%= avatarUrl %>')" medium="3" large="2">
          <h2 class="user-list__item__place" no-margin></h2>
        </div>
        <div class="user-list__item__content" small="5" medium="8" large="11">
          <h2 class="user-list__item__nick" no-margin="" style="cursor: pointer;"><%= firstName  %> <%= lastName %></h2>
          <% if(screenName === externalId) { %>
            <h2 class="user-list__item__id" no-margin=""><a href="https://vk.com/<%= screenName %>" class="unlink" target="_blank"><%= screenName %></a></h2>
            <% } else { %>
            <h2 class="user-list__item__id" no-margin=""><a href="https://vk.com/<%= screenName %>" class="unlink" target="_blank"><%= screenName %> / <%= externalId %></a></h2>
            <% } %>
          <h2 class="user-list__item__info" no-margin=""><%= country %>, <%= city %></h2>
          <div class="user-list__item__status nav-inline" space="b">
            <div class="status__popup pos-rel">
              <div class="stats__popup__contnet">
                <h2 no-margin>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae libero deserunt asperiores, velit quas cupiditate! Magni quisquam inventore, rem ipsa!</h2>
              </div>
              <button class="btn user-list__item__btn-status btn--no-radius" no-margin="" style="height: 47px;">Репутация</button>
            </div>
            <h2 class="user-list__item__count-minus user-list__item__count">0%</h2>
            <div class="user-list__item__progress-bar__wrapper pos-rel" small="6">
              <div class="user-list__item__progress-bar user-list__item__progress-bar--under"></div>
              <div class="user-list__item__progress-bar reputation__width" style="right: 0;"></div>
            </div>
            <h2 class="user-list__item__count">100%</h2>
          </div>
        </div>
      </div>

