
      <div class="user-list__item nav-inline middle-v indent-top" small="12" >
        <div class="user-list__item__photo border-none cursor" style="background-image: url('<%= avatarUrl %>')">
        </div>
        <div class="user-list__item__content">
          <h2 class="user-list__item__nick cursor" no-margin=""><%= firstName %> <%= lastName %></h2>
          <% if(screenName === externalId) { %>
            <h2 class="user-list__item__id" no-margin=""><a href="https://vk.com/<%= screenName %>" class="unlink" target="_blank"><%= screenName %></a></h2>
            <% } else { %>
            <h2 class="user-list__item__id" no-margin=""><a href="https://vk.com/<%= screenName %>" class="unlink" target="_blank"><%= screenName %> / <%= externalId %></a></h2>
            <% } %>
          <h2 class="user-list__item__info" no-margin=""><%= country %>, <%= city %></h2>

            <% if (isSubscribed)  { %>
              <button class="btn user-list__item__btn-delte btn--no-radius" no-margin="">Отписаться</button>
            <% } else {%>
              <button class="btn btn--no-radius btn__add btn__person--indent " style="width: auto;"> Подписаться </button>
            <% } %>
        </div>
      </div>
