
 <div class="arrow_wrapper nav-inline" row-full space="b" style="left: 0;">
  <div class="arrow_left"></div>
  <div class="arrow_right"></div>
</div>
<div small="12" class="publish__header">
  <h2>Мои подписки:</h2>
</div>
<div small="12" class="user-list__content">

</div>
