<div row-full="" class="random_person__search">
  <h1 class="title--reg" small="12">
      Сервис отзывов
    </h1>
  <div class="input__search nav-inline middle-v" small="5 centerd">
    <input type="text" placeholder="Введите ссылку на профиль в вк">
    <div class="input__search__bg">
      <div class="input__search__icon"></div>
    </div>
  </div>
  <!--<div class="btn__search__container" small="12">
    <button class="btn btn--no-radius btn__search"> Как это работает? </button>
  </div>-->
</div>
<div row-full="" class="random-person" style="height: 174px;">
  <div class="random-person__title" row-full></div>
  <div id="random-container" class="random-person__container nav-inline"  style="height: 144px;">


  </div>
</div>
