

      <div class="random-person__photo cl" style="background-image: url('<%= avatarUrl %>');">
        <div class="random-person__photo__inner-content">
          <h2><%= firstName  %></h2>
          <div class="random-person__bar__wrap">
            <div class="random-person__bar"></div>
            <div class="random-person__bar--under"></div>
          </div>

        </div>
      </div>
