<div class="popup__wrapper">
  <div class="popup">
    <h2>Сообщение отправлено</h2>
  </div>
</div>
 <div row-full="" style="height: 40px;" class="middle-v">
  <input type="text" small="5" no-margin placeholder="Введите новый пароль">
  <div small="3">
    <button class="btn contact__btn" style="margin: 0 20px;">Изменить</button>
  </div>

</div>
