<div class="contact__form" small="7 centerd" style="margin-top: 20px;">
  <h1 style="text-align: center;">Условия использования сайта</h1>
  <h2>Сайт создан с целью получения социального портрета человека на основании независимых отзывов.</h2>


  <p>1. Все отзывы и комментарии к отзывам оставляются пользователями сайта и администрация сайта не несет никакой ответственности за их содержание. <br>
  2. Все отзывы и комментарии анонимны. Таким образом администрация сайта не знает имен, фамилий, профилей Вконтакте и других данных авторов отзывов и комментариев и не может в принципе разглашать эту информацию в силу ее отсутствия. <br>
  3. Запрещается использование спама, рекламы и сообщений, не имеющих отношения к обсуждаемому человеку в отзывах и комментариях. <br>
   4. Отзывы и комментарии должны быть содержательными, т.е. давать представление о человеке для читающих отзыв. <br>
   5. Администрация оставляет за собой право удалять отзывы и комментарии без объяснения причин. </p>
</div>
