<div class="popup__wrapper" onclick="window.closePopup()">
  <div class="popup">
    <h2></h2>
  </div>
</div>
<div id="modal"></div>
 <div id="header">

</div>
  <div class="user-list" row-full="" id="content">
  <div  small="9 centerd" class="user-list__content err_auth" style="display: none;">

  </div>

  </div>
  <div class="footer footer--bg" row-full="">
    <div class="nav-inline middle-v" small="5 centerd" space="a">
      <h2 no-margin="" class="project_link text--up footer__link" style="cursor: pointer;"> О проекте </h2>
      <h2 no-margin="" class="contact_link text--up footer__link" style="cursor: pointer;"> Контакты </h2>
      <h2 no-margin="" class="rule_link text--up footer__link" style="cursor: pointer;"> Условия использования </h2>
      <h3 no-margin="" class="" > &copy; 2015 Nomask.fm </h3>
    </div>
  </div>
