<div class="about__item" small="12">
  <div class="about__item__header icon__wrapper">
    <div class="place__icon icon"></div>
    <h2>Отзыв об: </h2>
    <div class="person__icon icon" style="background-image: url('<%= person.avatarUrl %>');"></div>
    <a class="nick link" href="#person/<%= person.screenName  %>" style="display: block;"><%= person.firstName  %> <%= person.lastName %></a>
    <div class="arld__icon icon"></div>
  </div>
  <div class="about__item__content">
    <div class="about__item__content__header icon__wrapper" space="b">
      <div class="icon__wrapper">
        <h2 class="status_count" no-margin><%= rating  %></h2>
        <h2 class="about__title">Рейтинг отзывов </h2>
      </div>
      <h2 class="about__date"><%= createdAt %></h2>
    </div>
    <div class="about__item__text pos-rel">
      <!--<div class="pencil__wrapper">
        <div class="icon__pencil icon" no-margin=""></div>
      </div>-->
      <p><%= text %></p>
    </div>
    <div class="about__item__btn_group nav-inline middle-v" small="12" space="b">
      <div class="about__item__btn_comment__wrapper nav-inline" medium="6" large="8">

        <button class="btn about__item__btn_comment btn--no-radius" no-margin> Показать все
          <%= commentCount %> комментариев</button>

      </div>

      <div class="about__item__btn_access__wrapper nav-inline middle-v" space="a" medium="6" large="4">
        <h2 no-margin=""> Отзыв достоверен?</h2>
        <div class="about__btn_access__group_ok nav-inline middle-v">
         <div class="bar__popup nav-inline pos-rel">
              <div class="bar__popup__content proof--error ">
                <h2 no-margin="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h2>
              </div>
              <button class="btn about__btn_access__ok btn--no-radius" no-margin>Да</button>
            <h2 class="about__btn_access__ok__title" no-margin><%= proofCount %></h2>
            </div>
        </div>
        <div class="about__btn_access__group_no nav-inline middle-v">
         <div class="bar__popup nav-inline pos-rel">
              <div class="bar__popup__content disProof--error ">
                <h2 no-margin="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h2>
              </div>
              <button class="btn about__btn_access__no btn--no-radius" no-margin>Нет</button>
          <h2 class="about__btn_access__no__title" no-margin><%= disproofCount  %></h2>
            </div>
        </div>
      </div>
    </div>
    <% data.forEach(function(item) { %>

      <div class="about__item__text pos-rel about__item__content__header" style="background-color: #fff; ">
        <p>
          <%= item.attributes.text %>
        </p>
      </div>
      <% }); %>
    <div class="about__item__form nav-inline" space="b">
     <div class="bar__popup pos-rel">
              <div class="bar__popup__content comment_error bar__popup__content_invers">
                <h2 no-margin="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.!</h2>
              </div>
              <textarea name="text" class="about__input" small="9" style="
    height: 55px;
    background-color: #fff;
    overflow:hidden;
" placeholder="Комментировать..."></textarea>
            </div>
      <!--<input type="text" class="about__input" no-margin placeholder="Комментировать..." >-->
      <button class="btn btn--no-radius about__input__btn" no-margin>Отправить</button>
    </div>
  </div>
</div>
