// colors

$main-text: #505260; // main text
$background: #fff; // body background color

$color-1: #343642; // blue-dark
$color-2: #2f889a; // blue-light
$color-3: #d2d8d8; // grey

$red: #d76666; // error messages

// fonts

$primary-font: 'PT Sans', sans-serif;

// z-index

$header-zindex: 2;
$modal-zindex: 3;

// header

$header-height-S: 50px;
$header-height-M: 80px;
